<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Casipe.net</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if '/about/' in request.path %}active{% endif %}" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if '/blog/' in request.path %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
            </li>
            <!--<li class="nav-item">-->
              <!--<a class="nav-link {% if '/apps/' in request.path %}active{% endif %}" href="{% url 'apps' %}">Apps</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
               <!--<a class="nav-link {% if '/contact/' in request.path %}active{% endif %}" href="{% url 'contact' %}">Contact</a>-->
            <!--</li>-->
        </ul>
        
        <!--<div class="d-flex align-items-center">-->
            <!--{% if user.is_authenticated %}-->
                <!--<div class="d-flex align-items-center">-->
                    <!--<span class="me-3"><i class="fas fa-user me-1"></i>{{ user.email }}</span>-->
                    <!--<form method="post" action="{% url 'logout' %}" class="mb-0">-->
                        <!--{% csrf_token %}-->
                        <!--<button type="submit" class="btn btn-logout">Log Out</button>-->
                    <!--</form>-->
                <!--</div>-->
            <!--{% else %}-->
                <!--<div class="d-flex">-->
                    <!--<a href="{% url 'login' %}" class="btn btn-login me-2">-->
                        <!--<i class="fas fa-sign-in-alt me-1"></i>Login-->
                    <!--</a>-->
                    <!--<a href="{% url 'signup' %}" class="btn btn-signup">-->
                        <!--<i class="fas fa-user-plus me-1"></i>Sign Up-->
                    <!--</a>-->
                <!--</div>-->
            <!--{% endif %}-->
        <!--</div>-->
    </div>
  </div>
</nav>